body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 300px;
    text-align: center;
}

thead {
    background-color: rgb(167, 228, 252);
}

th {
    border: 1px solid black;
    text-transform: uppercase;
}

td {
    border: 1px solid black;
    padding: 10px;
}

#emoji > img {
    width: 100px;
}

td#emoji {
    width: 100px;
    height: 100px;
    padding: 0px;
}

tfoot {
    background-color: rgb(167, 228, 252);
}