@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
}

* {
    margin: 0;
    padding: 0;
}



body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}


p {
    margin: 15px 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    text-shadow: 4px 4px  #0000008a;
}

header h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
   
}

header p {
    font-family: bolder var(--fonte-padrao);
    color: white;
    font-size: 1.1em;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;

}

nav {
    text-align: center;
    background-color: #063d1e;
    color: white;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.315);
}

nav a {
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.8em;
}

nav a:hover {
    transition-duration: 0.5s;
    background-color: var(--cor4);
    border-radius: 10px;
}

main {
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
}

main img {
    width: 100%;
}


main .bugdroid-pequeno {
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video {
    display: block;
    background-color: var(--cor4);
    margin: 20px -20px 30px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.596);

}

iframe {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
   
   
}
    
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    padding: 10px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    border-top-left-radius: 10px;
}

main p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.1em;
    font-size: 1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

aside {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.281);

}

aside ul {
    list-style: '\2714';
    list-style-position: inside;
    columns: 2;
    padding: 10px;
}

h3 {
    background-image: linear-gradient(to right, var(--cor1),var(--cor4));
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px;
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
}

aside p {
    padding: 10px;
}

footer {
    background-color: #063d1e;
    padding: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    
}

footer a {
    color: rgb(113, 164, 240);
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    transition-duration: .5s;
}
