@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
}

section.normal {
    background-color:white;
    color: black;
}

section.imagem {
    background-color: grey;
    color: white;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.100);
    width: 300px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

