@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: monospace;
    font-size: 20px;}

h1 {color: crimson;}
h2 {color: darkorange;}
p {color: darkolivegreen; text-align: justify;}