body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* Alinhamento horizontal */
    vertical-align: middle; /* Alinhamento vertical */
}

.numero {
    text-align: right;
}
