
body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

th, td {
    border: 1px solid gray;
    padding: 10px;
}
