
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
   width: 500px;
   /* border-collapse: collapse; */
}

thead, tfoot {
    background-color: rgb(167, 228, 252);
    
}
/* na pseudoclasse :nth-child( ) pode se preencher com 2n, -2n ou 3n depende da quantidade de linha que quer pular para colorir, par(even) e impar com (odd)*/
tbody > tr:nth-child(2n) {
    background-color: rgb(228, 228, 228);
}

td, th {
    padding: 10px;
    border: 1px solid black;

}

td.num {
    text-align: center;
    width: 150px;
}

caption {
    background-color: lightgrey;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}