body  {
    text-align: center;
    background-color: rgb(72, 64, 102);
    color: #ffffff;
    font-family: 'Quicksand';
    padding: 30px;
    
}

p {
    margin: 30px;
    text-align: center;
}

.mockup-mobile {
    margin: auto;
    display: flex;
    justify-content: center;

    border-radius: 50px;
    box-shadow: 4px 10px 20px #0000008f;

    width: 340px;
    height: 600px;
    background-color: black;

    text-align: center;

}

.site-apoio {
    margin: auto;
    width:320px;
    height: 480px;

}

.alto-falante {
    position: absolute;
    width: 80px;
    height: 20px;
    border-radius: 40px;
    background-color: #3f3d3d;

    margin-top: 25px;
   
}

.logo-git { 
    padding: 0px;
}

#back-git {
    margin-top: -4px;
}

a {
    color: #ffffff;
}
